<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>escom.ipn.cm52021630576idpf.servlets.auth.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>escom.ipn.cm52021630576idpf.servlets.auth.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEquations</servlet-name>
        <servlet-class>escom.ipn.cm52021630576idpf.servlets.equations.GetEquations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEquation</servlet-name>
        <servlet-class>escom.ipn.cm52021630576idpf.servlets.equations.CreateEquation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEquation</servlet-name>
        <servlet-class>escom.ipn.cm52021630576idpf.servlets.equations.DeleteEquation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEquation</servlet-name>
        <servlet-class>escom.ipn.cm52021630576idpf.servlets.equations.GetEquation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEquation</servlet-name>
        <servlet-class>escom.ipn.cm52021630576idpf.servlets.equations.UpdateEquation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>escom.ipn.cm52021630576idpf.servlets.auth.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/auth/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/auth/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEquations</servlet-name>
        <url-pattern>/equations/GetEquations</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>CreateEquation</servlet-name>
        <url-pattern>/equations/CreateEquation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEquation</servlet-name>
        <url-pattern>/equations/DeleteEquation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEquation</servlet-name>
        <url-pattern>/equations/GetEquation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEquation</servlet-name>
        <url-pattern>/equations/UpdateEquation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/auth/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
